name: Daily Selenium Automation Run

on:
  schedule:
    - cron: '30 2 * * *'   # Runs daily at 8:00 AM IST
  workflow_dispatch:      # Allows manual run also

jobs:
  selenium-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Maven
        uses: actions/setup-maven@v4

      - name: Run Tests
        run: mvn test
